 * {
	 box-sizing: border-box;
 }

body {
	background-color: #333;
	color: orange;
	font-family: sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px auto;
	width: 100%;
}

form {
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 290px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 200px;
}

h2 {
	margin: 0 auto;
}

h4 {
	margin: 30px 0 5px;
}

.button {
	background-color: ;
	border: 1px solid orange ;
	border-radius: 5px;
	color: #fff;
	margin: 60px auto 0;
	text-align: center;
}

select {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #000;
	height: 25px;
	width: 100%;
}

input {
	border: 0;
	margin: 3px 0;
	/*max-width: 133px;*/
	padding: 0 5px;
}

.name {
	height: 25px;
	width: 68%;
}

.phone {
	height: 25px;
	width: 30%;
}

#saveBtn {
	background-color: #333;
	border: 1px solid orange;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	margin: 60px 0 0 0;
	padding: 10px 30px;
}

#all_entries {
	display: flex;
	flex-direction: column;
	margin: 40px auto;
	min-width: 360px;
	max-width: 600px;
	width: 80%;
}

.entry {
	background: #242424;
	border: 1px solid #222;
	border-radius: 5px;
	margin: 2px 0;
}

.entry > div {
	display: inline-block;
	height: 100%;
	padding: auto;
	text-align: center;
	vertical-align: middle;
}

.historyPhoto {
	display: inline-block;
	max-width: 70%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}
a .button:hover {
	background-color: #222;	
}